body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

main {
    background-color: #FDDE7E;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 1150px;
}

main>div {
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    flex-shrink: 1  ;
    height: 400px;
    width: 350px;
    box-shadow:0px 3px 5px gray;
    border-radius: 2px;
} 

main>div:nth-child(2) {
    height: 450px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.money {
    font-size: 50px;
    font-weight: bold;
    color: green;
}

.content div:nth-child(2) {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
}

.pic1 {
    background-image: url(bronze.png);
    background-size: cover;
}

.pic2 {
    background-image: url(gold.png);
    background-size: cover;
}

.pic3 {
    background-image: url(silver.png);
    background-size: cover;
}

.big {
    font-size: 50px;
}

.small {
    text-align: center;
}