@font-face {
    font-family: 'novafont' ;
    src: url(./fonts/Proxima\ Nova\ Bold.otf);
}

body {
    background-color: gray;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

header {
    background-color: black;
    color: white;
    display: block;
    float: right;
    width: 67%;
    height: 100px;
    padding: 40px 0 0 60px;
    z-index: 3;
    position: relative;
    margin-top: 20px;
}

hr  {
    opacity: 30%;
    
}

header div:first-child {
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 50%;
    font-size: 10px;
}

header div:nth-child(2) {
    width: max-content;
    padding-right: 3px;
    font-size: 36px;
    border-right: 1px solid white;
}

ul {
    float: right;
    margin: 0;
    background-color: orange;
    padding: 30px 0;
    width: 67%;
    z-index: 3;
    position: relative;
}

ul li {
    list-style: none;
    height: 20px;
    display: inline-block;
    margin:0 10px 0 0;
    padding-left: 0;
    color: white;
    opacity: 50%;
    margin-left: 30px;
    font-size: 30px;
}

main {
    display: inline-block;
    margin: 69px 40px 0;
    background-color: white;
    position: absolute;
    padding: 150px 150px 0 150px;
    height: 100%;
    
}

.bd {
    border-left: 2px solid black;
    margin-left: 150px;
    margin-top: 68px;
    position: absolute;
    display: block;
    height: 120%;
    z-index: 5;
    opacity: 10%;
    
}

main div:first-child {
    font-weight:lighter;
    display: inline-block;
    margin-bottom: 30px;
    letter-spacing: 7px;
    opacity: 30% ;
    font-size: 20px;
    font-family: 'novafont';
}

main div:nth-child(2) {
    font-size: 100px;
    letter-spacing: 4px;
    font-family: 'novafont';
}

main div:nth-child(3) {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: italic;
    opacity: 50%;
    margin-bottom: 40px;
}

main div:nth-child(4) {
    font-size: 2.5em;
    font-weight: lighter;
    text-align: justify;
}